@font-face {
    font-family: "GOT";
    src: url("./asset/font/game-of-thrones/Game\ of\ Thrones.ttf");
  }
  
h1, h2, h3, h4, h5, h6{font-family: "GOT";}


header{display:flex;
    justify-content: space-between; 
    background-image: url("./asset/logo/background.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.logo{width: 150px;}
h1{padding-top:30px;}
#map { height: 500px; }

footer{margin-top: -20px;
    height: 40px ;
    text-align: center;
    color:antiquewhite;
    background: #e04b00;
    background: radial-gradient(ellipse farthest-side at center center, #e04b00 0%, #332d2b 80%);
 }
    footer p{padding-top: 10px;}